@import "@/assets/styles/_variables.scss";

.card {
  border: 1px solid $header-search-border-color;
  border-radius: 12px;
  display: flex;
  overflow: hidden;

  & > a {
    height: 280px;
  }

  &__image {
    width: 268px;
    height: 100%;
    object-fit: cover;
    border-radius: 0 12px 12px 0;
  }

  &__info {
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.info__left {
  width: 270px;
}

.info__title {
  margin-bottom: 4px;
  font-family: $title-text-font;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.65rem;

  a {
    color: $text-black-color;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.info__description {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: $text-info-desc-color;
}

.info__stars {
  margin-bottom: 1.5rem;
  list-style: none;
  display: flex;
  gap: 4px;
}

.subinfo {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__row {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    font-size: 0.875rem;
    line-height: 1.185rem;
    color: $search-field-color;
  }

  &__category {
    width: 75px;
  }

  &__value span {
    color: $link-main-color;
  }
}

.info__price {
  font-family: $title-text-font;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.65rem;
}

.info__old-price {
  margin-bottom: 1rem;
  font-family: $title-text-font;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.125rem;
  text-decoration-line: line-through;
  color: $search-field-color;
}

.info__shipping {
  font-family: $title-text-font;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: $search-field-color;
}

.info__delivery {
  margin-bottom: 1.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: $search-field-color;
}

.info__btn {
  margin-bottom: 0.75rem;
  padding: 10px 8px 10px 12px;
  width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  background-color: $bg-card-btn-color;
  border: 2px solid $card-btn-border-color;
  border-radius: 12px;
  font-family: $title-text-font;
  font-weight: 700;
  font-size: 0.95rem;
  line-height: 1.375rem;
  color: $text-white-color;
  cursor: pointer;
  transition: all 0.1s linear;

  &:hover {
    background-color: $bg-card-btn-hover-color;
  }
}

.info__wish-btn {
  padding: 8px 12px;
  width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background: $bg-tag-color;
  border: none;
  border-radius: 12px;
  font-family: $title-text-font;
  font-weight: 700;
  font-size: 0.95rem;
  line-height: 1.375rem;
  color: $text-black-color;
  cursor: pointer;

  &:hover {
    transition: all 0.1s linear;
    background-color: $bg-button-hover-color;
  }
}

@media (max-width: 1199.98px) {
  .card > a {
    height: 100%;
  }

  .card__info {
    padding: 1rem;
  }

  .info__left {
    width: 230px;
  }

  .subinfo__row {
    column-gap: 1.3rem;
  }

  .info__btn {
    width: 150px;
    font-size: 0.85rem;
  }

  .info__wish-btn {
    width: 150px;
    font-size: 0.8rem;
  }
}

@media (max-width: 1059.98px) {
  .card__image {
    width: 200px;
  }
}

@media (max-width: 991.98px) {
  .card__image {
    width: 268px;
  }

  .card__info {
    padding: 2rem;
  }
}

@media (max-width: 799.98px) {
  .card__info {
    padding: 2rem 1.5rem;
  }
}

@media (max-width: 767.98px) {
  .card__image {
    width: 200px;
  }

  .card__info {
    padding: 1rem;
  }
}

@media (max-width: 679.98px) {
  .card__info {
    flex-direction: column;
  }

  .card__image {
    width: 268px;
  }

  .info__left {
    width: 100%;
  }

  .info__stars {
    margin-bottom: 1rem;
  }

  .info__shipping,
  .info__delivery,
  .subinfo {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .card__image {
    width: 200px;
  }
}

@media (max-width: 449.98px) {
  .card {
    min-height: 230px;
    position: relative;
  }

  .info__left {
    position: absolute;
    left: 0;
    top: 130px;
    z-index: 1;
    text-align: center;
  }

  .info__stars {
    justify-content: center;
  }

  .card__info {
    padding: 0.5rem;
  }

  .card__image {
    width: 120px;
    border-radius: 0 0 12px 0;
  }

  .card > a {
    height: 123px;
  }

  .info__right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info__price {
    font-size: 0.9rem;
    line-height: 1;
  }

  .info__old-price {
    margin-bottom: 0.3rem;
    font-size: 0.6rem;
  }

  .info__btn {
    padding: 5px 3px 5px 12px;
  }

  .info__wish-btn {
    padding: 4px 8px;
  }
}
