.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.not-found {
  text-align: center;
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .list {
    grid-column: 1 /3;
  }
}
