@import "@Styles/_variables.scss";

.search {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  background: $bg-search-color;
  border: 1px solid $header-search-border-color;
  border-radius: 12px;

  &__label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    padding: 5px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    cursor: pointer;
    transform: translateY(-50%);
  }

  &__input {
    margin: 0;
    padding: 0 1.5rem;
    width: 300px;
    border: none;
    border-left: 1px solid $header-search-border-color;
    outline: none;
    font-family: $main-text-font;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.185rem;
    background: inherit;
    color: $search-field-color;
  }

  &__clear {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    background: inherit;
    cursor: pointer;
    transition: all 0.1s linear;

    &:hover {
      background-color: $bg-button-hover-color;
    }

    img {
      width: 14px;
      height: 14px;
    }
  }
}

@media (max-width: 991.98px) {
  .search {
    order: 3;
    width: 100%;
    max-width: 520px;
    margin: 0 auto;

    &__input {
      width: 280px;
    }
  }
}

@media (max-width: 575.98px) {
  .search {
    flex-direction: column;
    row-gap: 0.5rem;

    form {
      width: 100%;
    }

    &__input {
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      border: 1px solid $header-search-border-color;
    }
  }
}
