@import "@Styles/_variables.scss";
@import "@Styles/_mixins.scss";

.search {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  background: $color-gray-lightest;
  border: 1px solid $color-gray-light;
  border-radius: 12px;

  &__label {
    @include flex-center;
    position: relative;
  }

  &__icon {
    padding: 5px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    cursor: pointer;
    transform: translateY(-50%);
  }

  &__input {
    margin: 0;
    padding: 0 1.5rem;
    width: 300px;
    font-family: $font-primary;
    @include font(400, 0.875rem, 1.185rem);
    background: inherit;
    color: $color-gray;
    border: none;
    border-left: 1px solid $color-gray-light;
    outline: none;
  }

  &__clear {
    @include flex-center;
    padding: 5px;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    background: inherit;
    cursor: pointer;
    transition: all 0.1s linear;

    &:hover {
      background-color: $color-gray-light;
    }

    img {
      width: 14px;
      height: 14px;
    }
  }
}

@media (max-width: 991.98px) {
  .search {
    order: 3;
    margin: 0 auto;
    width: 100%;
    max-width: 520px;
  }
}

@media (max-width: 575.98px) {
  .search {
    flex-direction: column;
    row-gap: 0.5rem;

    form {
      margin-bottom: 0.5rem;
      width: 100%;
    }

    &__input {
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      border: 1px solid $color-gray-light;
      border-radius: 8px;
    }

    &__icon {
      right: 5px;
    }
  }
}
