@import "@/assets/styles/_variables.scss";

.products-list__header {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.products-list__title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
}

.products-list__stat {
  display: flex;
  align-items: center;
  gap: 4px;

  p {
    padding: 0 0.5rem;
    border-radius: 12px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.125rem;
    background-color: $bg-list-stat-color;
    color: $link-main-color;
  }

  span {
    font-size: 0.75rem;
    line-height: 1rem;
    color: $search-field-color;
  }
}

.products-list__main {
  display: grid;
  grid-template-columns: 270px 1fr;
  column-gap: 2rem;
  position: relative;
}

@media (max-width: 991.98px) {
  .products-list__main {
    grid-template-columns: 1fr;
  }

  .products-list__header {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 575.98px) {
  .products-list__title {
    font-size: 1.5rem;
  }
}
