@import "@Styles/_variables.scss";
@import "@Styles/_mixins.scss";

.product {
  &__main {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
  }

  &__subtitle {
    margin-bottom: 2rem;
    font-family: $font-secondary;
    @include font(600, 1.125rem, 1.65rem);
  }

  &__carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  &__error {
    text-align: center;
  }
}

.swiper {
  &__next {
    display: block;
    margin: 30px auto;
    width: 25px;
    height: 25px;
    border-top: 2px solid $color-black;
    border-left: 2px solid $color-black;
    // transform: rotate(135deg);
  }
}

@media (max-width: 991.98px) {
  .product__main {
    margin-bottom: 2.5rem;
    flex-direction: column;
    gap: 2rem;
  }
}
