@import "@Styles/_variables.scss";
@import "@Styles/_mixins.scss";

.product {
  &__main {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
  }

  &__subtitle {
    margin-bottom: 2rem;
    font-family: $font-secondary;
    @include font(600, 1.125rem, 1.65rem);
  }

  &__carousel {
    position: relative;
  }

  &__error {
    text-align: center;
  }
}

.swiper {
  width: 90%;

  &__next,
  &__prev {
    width: 25px;
    height: 25px;
    border-top: 3px solid $color-green;
    border-left: 3px solid $color-green;
    position: absolute;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
    cursor: pointer;

    &.swiper-button-disabled {
      border-color: $color-gray-light;
    }
  }

  &__next {
    transform: rotate(135deg);
    right: 0;
  }

  &__prev {
    transform: rotate(-45deg);
    left: 0;
  }
}

@media (max-width: 991.98px) {
  .product {
    &__main {
      margin-bottom: 2.5rem;
      flex-direction: column;
      gap: 2rem;
    }

    &__carousel {
      max-width: 700px;
      margin: 0 auto;
    }
  }

  .swiper {
    width: 87%;
  }
}

@media (max-width: 575.98px) {
  .product__carousel {
    max-width: 400px;
    margin: 0 auto;
  }

  .swiper {
    width: 75%;
  }
}
