@import "@Styles/_variables.scss";
@import "@Styles/_mixins.scss";

.dropdown-field {
  width: 47%;
  display: flex;
  flex-direction: column;
  position: relative;
  order: 4;

  &__label {
    @include text-overflow-hide;
    font-family: $font-secondary;
    @include font(600, 0.75rem, 1.125rem);
  }

  &__error {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    @include font(400, 0.75rem, 1.125rem);
    color: $color-red;
  }
}

@media (max-width: 575.98px) {
  .dropdown-field {
    width: 100%;
  }
}
