@import "@/assets/styles/_variables.scss";

.filter {
  width: 270px;
  background-color: #fff;

  &__switcher {
    display: none;
    font-family: $title-text-font;
    font-weight: 500;
    font-size: 0.95rem;
    line-height: 1.375rem;
    color: $text-black-color;
    align-items: center;
    gap: 0.5rem;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.1s linear;

    &:hover {
      background-color: $bg-button-hover-color;
    }

    img {
      transition: all 0.3s linear;
    }
  }
}

@media (max-width: 991.98px) {
  .filter {
    display: none;
    position: absolute;
    z-index: 2;

    &--show {
      display: block;
    }

    &__switcher {
      display: flex;
      position: absolute;
      top: -40px;
      left: 15px;
      z-index: 2;
      z-index: 2;
    }
  }
}
