@import "@/assets/styles/_variables.scss";

.footer {
  padding: 4rem 0;

  &__links {
    list-style: none;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__tags {
    margin-bottom: 3rem;
  }

  &__text {
    font-size: 0.875rem;
    line-height: 1.185rem;
  }
}

.tags__block {
  list-style: none;
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 767.98px) {
  .footer {
    padding: 2rem 0;

    &__links {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 575.98px) {
  .footer {
    padding: 2rem 0;

    &__links {
      margin-bottom: 1rem;
    }

    &__tags {
      margin-bottom: 1.5rem;
    }
  }

  .tags__block {
    row-gap: 0.7rem;
    column-gap: 0.5rem;
  }
}
