@import "@Styles/_variables.scss";

.selector {
  padding: 0.5rem 0;
  position: relative;
}

.selector__btn {
  width: 180px;
  font-family: $font-secondary;
  font-weight: 700;
  font-size: 0.95rem;
  line-height: 1.375rem;
  color: $color-black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.1s linear;

  img {
    width: 9px;
    height: 6px;
    transition: all 0.3s linear;
  }
}

@media (max-width: 575.98px) {
  .selector__btn {
    margin-right: 0;
    justify-content: center;
  }
}
