@import "@Styles/_variables.scss";
@import "@Styles/_mixins.scss";

.dropdown-field {
  display: flex;
  flex-direction: column;
  position: relative;

  &__wrapper {
    width: 47%;
    position: relative;
  }

  &__label {
    @include text-overflow-hide;
    font-family: $font-secondary;
    @include font(600, 0.75rem, 1.125rem);

    &::after {
      content: "*";
      margin-left: 5px;
      font-size: 1rem;
      color: $color-red;
    }
  }

  &__field {
    padding: 0.75rem 2.5rem 0.75rem 1rem;
    font-family: $font-primary;
    font-size: 0.875rem;
    line-height: 1.185rem;
    color: $color-black;
    background: $color-gray-lightest;
    border: 1px solid $color-gray-light;
    border-radius: 12px;
    outline: none;

    &:focus {
      border: 1px solid $color-green;
    }

    &::placeholder {
      color: $color-gray;
    }

    &:disabled {
      background-color: $color-gray-light;
      opacity: 0.7;
    }
  }

  &__list {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    border: 1px solid $color-gray-light;
    border-radius: 12px;
    background-color: $color-white;
  }

  &__item {
    padding: 5px;
    font-family: $font-secondary;
    @include font(600, 1rem, 1.125rem);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      background-color: $color-gray-light;
    }
  }

  &__error {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    @include font(400, 0.75rem, 1.125rem);
    color: $color-red;
  }

  &__arrow {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 15px;
    top: 35px;
    cursor: pointer;
  }

  &__clear {
    padding: 5px;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 35px;
    top: 26px;
    cursor: pointer;
  }
}

@media (max-width: 575.98px) {
  .dropdown-field__wrapper {
    width: 100%;
  }
}
