@import "@Styles/_variables.scss";
@import "@Styles/_mixins.scss";

.order {
  padding: 2rem 1rem;
  width: 41%;
  border: 1px solid $color-gray-light;
  border-radius: 12px;

  &__title {
    @include text-overflow-hide;
    font-family: $font-secondary;
    @include font(600, 1.375rem, 2rem);
  }

  &__description {
    margin-bottom: 2.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    color: $color-gray;
  }

  &__list {
    padding-right: 1rem;
    margin-bottom: 2.5rem;
    max-height: 400px;
    overflow-y: auto;
  }

  &__subtotal {
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: space-between;
    font-family: $font-secondary;
    @include font(600, 0.75rem, 1.125rem);

    h4 {
      font-weight: 600;
    }

    &:last-of-type {
      margin-bottom: 2rem;
    }
  }

  &__promo {
    margin-bottom: 2.5rem;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-gray-lightest;
    border: 1px solid $color-gray-light;
    border-radius: 12px;
  }

  &__code {
    width: calc(100% - 100px);

    input {
      width: 100%;
      font-family: $font-primary;
      font-size: 0.875rem;
      line-height: 1.185rem;
      color: $color-gray;
      border: none;
      outline: none;
      background-color: transparent;
    }
  }

  &__btn {
    width: 95px;
    font-family: $font-secondary;
    @include font(700, 0.95rem, 1.375rem);
    color: $color-black;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.1s linear;

    &:hover {
      color: $color-green;
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
}

.total {
  &__title {
    font-family: $font-secondary;
    @include font(600, 0.75rem, 1.125rem);
  }

  &__text {
    font-size: 0.75rem;
    line-height: 1rem;
    color: $color-green;
  }

  &__price {
    font-family: $font-secondary;
    @include font(600, 1.625rem, 1);
    color: $color-green;
  }
}

@media (max-width: 1199.98px) {
  .total__text span {
    display: block;
  }
}

@media (max-width: 991.98px) {
  .order {
    width: 100%;
  }

  .total__text span {
    display: inline;
  }
}

@media (max-width: 575.98px) {
  .order {
    padding: 1rem 1rem 2.5rem;

    &__description {
      margin-bottom: 1.5rem;
    }

    &__list {
      max-height: 420px;
    }

    &__promo {
      padding: 0.5rem 0.75rem;
    }
  }
  .total__text {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: 1;
  }

  .total__price {
    font-size: 1.4rem;
  }
}
