@import "@Styles/_variables.scss";

.sort {
  margin-bottom: 4rem;
  width: 190px;
  padding: 0 0 0 10px;
  background: $color-gray-lightest;
  border: 1px solid $color-gray-light;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;

  &__text {
    font-size: 0.875rem;
    line-height: 1.185rem;
    border-right: 1px solid $color-gray-light;
  }

  &__selector {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    position: relative;
  }
}

.sort__btn {
  font-family: $font-secondary;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.1s linear;

  img {
    transition: all 0.3s linear;
  }
}

@media (max-width: 991.98px) {
  .sort {
    margin: 0 0 0.6rem auto;
  }
}
