@import "@/assets/styles/_variables.scss";

.sort {
  margin-bottom: 4rem;
  width: 180px;
  padding: 10px 16px;
  background: $bg-search-color;
  border: 1px solid $header-search-border-color;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    padding-right: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.185rem;
    border-right: 1px solid $header-search-border-color;
  }

  &__selector {
    position: relative;
  }
}

.sort__btn {
  font-family: $title-text-font;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.1s linear;

  img {
    transition: all 0.3s linear;
  }
}

.sort__menu {
  display: none;
  width: 60px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: $bg-white-color;
  list-style: none;
  border: 1px solid $header-search-border-color;

  &--show {
    display: block;
  }
}

.sort__link {
  display: block;
  padding: 5px;
  font-family: $main-text-font;
  font-size: 0.8rem;
  line-height: 1rem;
  color: $text-black-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 991.98px) {
  .sort {
    margin: 0 0 0.6rem auto;
  }
}

@media (max-width: 575.98px) {
  .sort {
    margin: 0 auto 3.2rem 0;
  }
}
