@import "@Styles/_variables.scss";
@import "@Styles/_mixins.scss";

.overlay {
  display: none;
}

.filter {
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: $color-white;

  &__title {
    margin-bottom: 1rem;
    font-family: $font-secondary;
    @include font(600, 1.125rem, 1.65rem);
  }
}

.filter-categories {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  &__item {
    @include flex-between-center;
    font-size: 0.875rem;
    line-height: 1.185rem;
    color: $color-black;
    cursor: pointer;

    p {
      @include text-overflow-hide;
    }

    &:hover p {
      text-decoration: underline;
    }

    span {
      padding: 0 8px;
      min-width: 30px;
      text-align: center;
      font-family: $font-secondary;
      @include font(600, 0.75rem, 1.185rem);
      color: $color-green;
      background: $color-gray-lightest;
      border-radius: 12px;
    }

    &--active {
      font-weight: 700;
    }
  }
}

.filter-brands {
  max-height: 230px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.filter-rating {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.filter__label {
  padding: 1px 0 1px 30px;
  width: 100%;
  display: flex;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  position: relative;

  p {
    @include text-overflow-hide;
    width: 100%;
  }
}

.filter__input {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  width: 20px;
  height: 20px;
  background-color: $color-white;
  border: 2px solid $color-gray-light;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 2px;
  z-index: 3;
  transform: translateY(-50%);

  &:hover {
    box-shadow: 0 0 5px $color-green;
  }

  &:checked {
    background-color: $color-green;
    border: 2px solid $color-green-dark;

    &::before {
      content: "\2714";
      font-size: 0.9rem;
      color: $color-white;
      position: absolute;
      right: 2px;
      top: -3px;
    }
  }
}

.filter__reset {
  width: fit-content;
  margin: 0 auto;
  border: none;
  font-family: $font-secondary;
  @include font(700, 0.95rem, 1.375rem);
  background: inherit;
  color: $color-gray;
  cursor: pointer;
  transition: all 0.1s linear;

  &:hover {
    color: $color-gray-dark;
  }
}

@media (max-width: 991.98px) {
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    backdrop-filter: blur(5px);

    &--show {
      display: block;
    }
  }

  .filter {
    padding: 0.75rem;
    border: 1px solid $color-gray-light;
    box-shadow: $color-gray 0px 2px 8px 0px;
    position: absolute;
    top: 0;
    left: -270px;
    bottom: 0;
    z-index: 4;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s linear;

    &--show {
      left: 0;
    }
  }
}
