@import "@Styles/_variables.scss";
@import "@Styles/_mixins.scss";

.description {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__subtitle {
    @include text-overflow-hide;
    margin-bottom: 0.5rem;
    font-family: $font-secondary;
    @include font(500, 0.95rem, 1.375rem);
  }

  &__text {
    @include text-overflow-rows(5);
    font-size: 0.875rem;
    line-height: 1.185rem;
  }
}
