@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600;700&display=swap");
@import "./assets/styles/_variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: $main-text-font;
  background-color: $bg-white-color;
  color: $text-black-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reverse__icon {
  transform: rotate(180deg);
}

// Scrollbar styles
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 12px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: $bg-scroll-color;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: $bg-scroll-track-color;
  border-radius: 10px;
}
