// *** Fonts ***
$main-text-font: "Open Sans", sans-serif;
$title-text-font: "Poppins", sans-serif;

// *** Colors ***
// Background
$bg-white-color: #fff;
$bg-black-color: #000;
$bg-tag-color: #f5f5f5;
$bg-search-color: #f9f9f9;
$bg-button-hover-color: #d2d2d4;

// Border
$header-border-line-color: rgba(21, 21, 21, 0.05);
$header-search-border-color: #d1d1d1;

// Text
$text-white-color: #fff;
$text-black-color: #151515;
$link-main-color: #6a983c;
$search-field-color: #a9a9a9;
