// *** Fonts ***
$main-text-font: "Open Sans", sans-serif;
$title-text-font: "Poppins", sans-serif;

// *** Colors ***
// Background
$bg-white-color: #fff;
$bg-black-color: #000;
$bg-tag-color: #f5f5f5;

// Text
$text-white-color: #fff;
$text-black-color: #151515;
$link-main-color: #6a983c;
