@import "@Styles/_variables.scss";
@import "@Styles/_mixins.scss";

.dropdown {
  width: 130px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  background: $color-gray-lightest;
  box-shadow: $color-gray-light 0px 2px 8px 0px;
  border: 1px solid $color-gray-light;
  border-radius: 5px;

  &--center {
    left: 50%;
    transform: translateX(-50%);
  }

  &__item {
    @include text-overflow-hide;
    padding: 5px;
    font-size: 0.8rem;
    line-height: 1rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
